<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

    <title>Detección de Rostros</title>
</head>
<body>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        img{
            width: 100%;
            height: 100vh;
        }
    </style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.scrollTo(0, 1);  // Intenta ocultar la barra superior en algunos navegadores móviles
    });
</script>

</body>
</html>
